/* Write your global styles here, in PostCSS syntax */

@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full;
}

body {
	@apply bg-zinc-900 text-zinc-50;
}

button {
	@apply px-2.5 py-3 font-medium text-lg bg-emerald-400 text-zinc-900 rounded-md mt-4 hover:bg-emerald-500 transition-all duration-200 ease-in-out;
}

label {
	@apply pb-2 text-lg;
}

textarea {
	@apply rounded-md p-3 text-zinc-900;
}
h1 {
	@apply text-5xl font-semibold;
	text-align: center;
}
h2 {
	@apply text-3xl font-medium pb-1;
}
h3 {
	@apply text-2xl font-medium pb-1;
	text-align: center;
	padding: 20px;
}

h4 {
	@apply text-xl font-thin pb-1;
	text-align: center;
	padding: 10px;
}

p {
	@apply text-lg;
}

form {
	@apply flex flex-col pt-8 max-w-lg w-full;
}

.tablink {
	background-color: #555;
	text-align: center;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

.tablink:hover {
	background-color: #777777;
}

.tablinkcurrent {
	background-color: #969696;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
	color: white;
	display: none;
	padding: 100px 20px;
	height: 100%;
}

.fullpage {
	width: 100%;
	text-align: center;
	display: block;
	justify-content: space-around; /* To evenly space the tab links */
}

@tailwind components;

@tailwind utilities;
